@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFE17F;
  color: #000000;
  font-family: raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
}

.page {
  block-size: 100%;
  font-family: rubik, sans-serif;
}

.page__body {
  min-block-size: 100%;
  margin: 0;
  background-color: #FFFFFF;
  color: #000000;
}

.main-header__wrapper {
  inline-size: 1160px;
  margin-inline: auto;
  background-color: #FFE17F;
  margin-block-start: 40px;
}

.main-header__logo {
  display: inline-block;
  margin: 0;
  margin-block: -22px 30px;
  margin-inline-start: 60px;
}

.main-header__logo-img {
  display: block;
}

.main-header a {
  color: #000000;
  text-decoration: none;
}

.main-nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-inline: 60px;
}

.main-nav__list {
  display: flex;
  justify-content: space-between;
}

.user-nav {
  gap: 26px;
}

.user-nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-block: 5px;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
}

.user-seach {
  display: flex;
  inline-size: 517px;
}

.user-seach__input {
  flex-grow: 1;
  padding-inline: 48px 0;
  padding-block: 8px;
  background-image: url(../img/seach.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center left 16px;
  border: 2px solid #000000;
  border-radius: 50px 0 0 50px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.user-seach__button {
  inline-size: 160px;
  block-size: 40px;
  background-color: transparent;
  border: 2px solid #000000;
  border-inline-start: none;
  border-radius: 0 50px 50px 0;
  font-size: 16px;
  line-height: 20px;
}

.user-login {
  min-inline-size: 231px;
  gap: 28px;
}

.user-list {
  gap: 36px;
}

.user-nav__item {
  position: relative;
  padding-inline-start: 24px;
}

.user-list .user-nav__item:last-child {
  padding-inline-start: 28px;
}

.user-nav__icon {
  position: absolute;
  inset: 9px 9px 9px 0;
}

.user-list .user-nav__item:last-child .user-nav__icon {
  inset: 6px 12px 10px 0;
}

.site-nav {
  align-items: center;
}

.site-nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-nav__item {
  font-family: raleway, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.nav-catalog {
  position: relative;
}

.nav-catalog__button {
  border: none;
  padding: 0;
  background-color: transparent;
}

.nav-catalog__toggle {
  inline-size: 50px;
  block-size: 50px;
  margin-inline-start: 17px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  background-color: transparent;
  background-image: url(../img/catalog-plus.svg);
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: center;
}

.nav-catalog__list {
  display: none;
  inline-size: 1100px;
  max-block-size: 180px;
  position: absolute;
  top: 50px;
  left: -60px;
  margin: 0;
  padding-inline-start: 60px;
  padding-block: 14px 27px;
  list-style-type: none;
  background-color: #FFE17F;
}

.nav-catalog:active .nav-catalog__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.site-list {
  gap: 45px;
}

.top-models__wrapper {
  inline-size: 1160px;
  margin-inline: auto;
}

.top-models__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.top-models__item {
  position: relative;
  margin-block-end: 70px;
}

.model__number {
  text-align: right;
  margin: 0;
  padding-inline-end: 49px;
  padding-block-start: 75px;
  padding-block-end: 45px;
  background-color: #FFE17F;
  color: #FFFFFF;
  font-size: 180px;
  line-height: 30px;
  font-weight: 700;
}

.model__img {
  display: block;
  position: absolute;
  top: 0;
}

.slider__control {
  position: absolute;
  top: 227px;
  display: flex;
  justify-content: space-between;
  inline-size: 560px;
}

.slider__button {
  inline-size: 20px;
  height: 60px;
  color: #000000;
  background-color: #FFFFFF;
  border: none;
  background-image: url("../img/arrow-right.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.slider__button--prev {
  transform: rotate(180deg);
}

.model__info {
  inline-size: 560px;
  margin-inline-start: auto;
  margin-block-start: -29px;
  margin-block-end: 38px;
}

.model__slogan {
  font-family: raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
  margin: 0;
  margin-inline-end: 15px;
}

.model__description {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-block-end: 51px;
}

.model__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block-end: 49px;
}

.model__about {
  inline-size: 220px;
  block-size: 8px;
}

.model__toggles {
  display: flex;
  gap: 20px;
}

.slider__toggle {
  inline-size: 12px;
  block-size: 12px;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 50%;
}

.slider__toggle--current {
  background-color: #000000;
}

.propety__list {
  display: flex;
  gap: 20px;
  margin: 0;
}

.propety__number {
  font-size: 36px;
  line-height: 30px;
  margin-block-end: 12px;
}

.propety__description {
  margin: 0;
  font-size: 16px;
  line-height: 30px;
}

.catalog__wrapper {
  inline-size: 1160px;
  margin-inline: auto;
}

.catalog__list {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.category {
  inline-size: 160px;
  display: flex;
  flex-direction: column;
}

.category__img {
  box-sizing: border-box;
  block-size: 160px;
  margin: 0;
  margin-block-end: 32px;
  padding-block-start: 40px;
  text-align: center;
  background-color: #FFE17F;
}

.category__description {
  text-align: left;
  font-family: raleway, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: -0.02em;
}

.servises {
  background-color: #F0F0F0;
}

.servises__wrapper {
  inline-size: 1160px;
  margin-inline: auto;
}

.servis__title {
  font-family: raleway, sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

.servis__description {
  font-size: 18px;
  line-height: 30px;
}

